{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundación Un Lugar</title>
    <link rel="stylesheet" href="css/style.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    
           
</head>

<body style="background-color: #f0f8ff">
    <div>      
        <div class="p-1 m-1 mx-auto m-lg-5">
            <p class="text-center fs-2" style="color: #008">MANUAL DEL USUARIO</p>
        </div>
        <div>
            <p class="fs-3 m-lg-4" style="color: #008">Login</p>
            <p class="fs-5 m-lg-4" style="color: #008">Es la interfaz de ingreso al sistema, en esta página el usuario debió crear previamente una cuenta en la parte del login que dice "No tienes una cuenta? Registrate aquí, el usuario debe ingresar 
                el correo electrónico en el campo que corresponda, y asi mismo ingresar la contraseña en el campo correspondiente, luego darle clic en "Mantenerme conectado" y luego dar clic en el botón de iniciar sesión,
                asi como se muestra en la siguiente imagen de la página del login.</p>      
            <div style="text-align: center;">
                <img src="{% static 'img/ingreso.JPG' %}" width="980" style="margin-bottom: 5px;" alt="">
            </div>
        </div> 
        <div>
            <p class="fs-3 m-lg-4" style="color: #008">No tienes cuenta, registrarse aquí?</p>
            <p class="fs-5 m-lg-4" style="color: #008">Si un usuario de la Fundación Un Lugar Donde Puedes Crecer, tiene el permiso de la administradora del sistema la Directora de la Fundación Carolina Mancipe, para la creación de un usuario,
                con el fin de ingresar al sistema y asi realizar operaciones, en ese campo donde se indica en la imagen anterior del login, es donde debe darle clic y realizar el proceso de registro, para asi poder ingresar al sistema,
                con el usuario y contraseña previamente creados.</p>
            </p>
        </div>
        
      </div>
            
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        
      </body>
    </html>
{% endblock contenido %}
    
