{% block contenido %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Login</title>
    <style>

        body{
            background: #f0f8ff;
            background: linear-gradient(to rigth, #768bcf, #a1add4);
        }
        .bg{
            background-image: url(static/img/Login.jpg); 
            background-position: center;
                             
         }
             
    </style>
  </head>

  <!--aqui empieza el cuerpo del contenido-->

  <body>
 <div class="container w-70 bg-white mt-md-3 rounded shadow">
      <div class="row align-items-lg-stretch m-1 p-3 mb-md-4">
         <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

          </div>
                <div class="col">
                    <div class="text-end">
                        <img src="{% static 'img/logo.jpg' %}" width="190" alt="">
                    </div>
                    <h2 class="fw-bold text-center mb-10 pt-lg-8" style="color: #008;">Gestión Documental</h2>
                    <p class="m-3 fw-bold text-center mb-10 pt-lg-8" style="color: #008;">Funda</p>

                 <!--LOGIN-->
                                        
                 <form action="#">
                        <div class="mb-4">
                          <label for="email" class="form-label" style="color: #008;">Correo electrónico</label>
                          <input type="email" class="form-control" name="email">
                
                        </div>
                        <div class="mb-4">
                            <label for="password" class="form-label" style="color: #008;">Contraseña</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <div class="mb-4 form-check">
                            <input type="checkbox" name="connected" class="form-check-input">
                            <label for="connected" class="form-check-label" style="color: #008;">Mantenerme conectado</label>
                        </div>

                        <div class="d-grid gap-2">
                          
                            <a class="btn btn-outline-success mx-lg-4" style="color: #008;" aria-current="page" href="{% url 'contenido' %}">Iniciar sesión</a>
                                                                                                                                                           
                        </div>

                        <div class="my-3" style="color: #008;"> 
                            <span>No tienes cuenta? <a href="#">Regístrese aquí</a></span> <br>                                                                                    
                            <span>Se te olvidó la contraseña?</span> <br> 
                            <span><a href="{% url 'password_reset' %}">Recuperar contraseña</a></span>
                        </div>

                        <div class="container w-100" my-5>
                          <div class="row text-center">
                              <div class="col-12" style="color: #008;">Nuestras Redes Sociales</div>
                          </div>

                           <!--Redes sociales-->

                          <div class="row">
                              <div class="col">
                                <a class="btn btn-outline-primary w-100 my-1"   href="https://m.facebook.com/people/Fundaci%C3%B3n-Un-Lugar-Donde-Puedes-Crecer/100064761306510/">
                                    
                                        <div class="row align-items-center">
                                             <div class="col-2">
                                                 <img src="{% static 'img/facebook.png' %}" width="32" alt="">
   
                                             </div>
   
                                             <div class="col-10 text-center">
                                                 Facebook
                                             </div>
   
                                         </div>
   
                                     
                                </a>
                                  
                              </div>

                              <div class="col">
                                <a class="btn btn-outline-danger w-100 my-1"    href="https://www.youtube.com/channel/UCwAPUrDNqpWzym_g4deLRaw">
                                    <div class="row align-items-center">
                                        <div class="col-2">
                                            <img src="{% static 'img/youtube.png' %}" width="32" alt="">

                                        </div>

                                        <div class="col-10 text-center">
                                            Youtube
                                        </div>

                                    </div>
 
                                </a>
                                                            
                               </div>                            
                                                               
                        </div>

                    </form>
                
                </div>   

            </div>   
       </div>
 </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>
{% endblock contenido %}  


