<!-- cargar la libreria de boostrap-->
{% load bootstrap5 %}
<!-- cargar el css y javascript de bootstrap-->
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block contenido %}
    <!-- Content -->
    <div id="content" class="colM">

        <h1>Restablecimiento de contraseña completado</h1>

        <p>Su contraseña ha sido establecida. Ahora puede continuar
            e iniciar sesión.</p>

        <p><a class="btn btn-success" href="">Iniciar sesión</a></p>

        <br class="clear">
    </div>
    <!-- END Content -->
{% endblock contenido %}
    