{% extends 'partials/body.html' %}
{% load static %}

{% block stylesheet %}

 
{% endblock stylesheet %}


{% block contenido %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title mx-auto p-3 m-lg-3 m-5" style="color: #008; height: 20px; text-align: center;">Beneficiarios</h3>
    </div>

    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap5 m-5">

            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline m-5"
                        aria-describedby="example1_info">
                        <thead>
                            <tr class="m-1">
                                <form action="" method='POST'>
                                    {% csrf_token %}
                                    <td class="sorting_1 dtr-control" tabindex="0">
                                        <input type="text" name="documento" maxlength="90" required="" id="id_documento">
                                    </td>
                                    <td><select name="tipoDocumento" required="" id="id_tipoDocumento">
                                        <option value="T.I." selected="T.I.">-------</option>
                                        <option value="T.I." selected="T.I.">Registro civil</option> 
                                        <option value="T.I." selected="T.I.">Pasaporte</option>
                                        <option value="T.I." selected="T.I.">Tarjeta de identidad</option>                                                         
                                                           
                                      
                                      </select></td>                                    
                                    <td><input class="btn btn-success" type="submit" value="Agregar"></td>
                                </form>
                            </tr>
                            <tr style="color: #008;">
                                <th>Documento</th>
                                <th>Tipo de documento</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                            </tr>
                        </thead>
                        <tbody>                           
                           

                            {% for beneficiario in beneficiarios %}

                            <tr class="odd">

                                <td class="sorting_1 dtr-control" tabindex="0">{{beneficiario.documento}}</td>
                                <td class="">{{beneficiario.tipoDocumento}}</td>
                                <td class="">{{beneficiario.nombres}}</td>
                                <td class="">{{beneficiario.apellidos}}</td>
                                <td><a href="" class="btn btn-outline-info fas fa-eye">Editar</a></td>
                                <td><a href="" class="btn btn-outline-danger fas fa-eye">Eliminar</a></td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>

</div>
{% endblock contenido %}

{% block javascript %}
<!-- DataTables  & Plugins -->
<script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'jszip/jszip.min.js' %}"></script>
<script src="{% static 'pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
{% endblock javascript %}