{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}


{% block contenido %}
<h1 class="text-center fs-4" style="color: #008;">Beneficiarios</h1>
<a style="margin: 20px;" class="btn btn-outline-success w-22" href="{% url 'beneficiario-crear' %}">Crear Beneficiario</a>
    <table class="table" style="background-color: aliceblue; margin: 15px;">
        <thead>
            <tr style="color: #008;">
                <th>Documento</th>
                <th>Tipo de documento</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th></th>
                <th>Tipo de sangre</th>
                <th>Genero</th>
                <th>Fecha de nacimiento</th>
                <th>Lugar de nacimiento</th>
                <th>Localidad</th>
                <th>Barrio</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Teléfono secundario</th>                              
            </tr>
        </thead>
        <tbody>
            
            {% for beneficiario in beneficiarios %}
                <tr>
                    <td>{{beneficiario.documento}}</td> 
                    <td>{{beneficiario.tipoDocumento}}</td>                   
                    <td>{{beneficiario.nombres}}</td>
                    <td>{{beneficiario.apellidos}}</td>
                    <td>{{beneficiario.extranjero}}</td>
                    <td>{{beneficiario.tipoSangre}}</td>
                    <td>{{beneficiario.genero}}</td>
                    <td>{{beneficiario.fechaNacimiento}}</td>
                    <td>{{beneficiario.lugarNacimiento}}</td>
                    <td>{{beneficiario.localidad}}</td>
                    <td>{{beneficiario.barrio}}</td>
                    <td>{{beneficiario.direccion}}</td>
                    <td>{{beneficiario.telefono}}</td>
                    <td>{{beneficiario.telefonoSecundario}}</td>                    
                    <td>{{beneficiario.beneficiario.documento}}</td>
                </tr>
            {% endfor %}
                
        </tbody>
    </table>
{% endblock contenido %}
    