{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}


{% block contenido %}
<h1 class="text-center fs-4" style="color: #008;">Referencias - Beneficiarios</h1>
<a style="margin: 20px;" class="btn btn-outline-success w-22" href="{% url 'referencia-crear' %}">Crear Referencia</a>
    <table class="table" style="background-color: aliceblue; margin: 15px;">
        <thead>
            <tr style="color: #008;">
            <th>Número de Documento</th>
            <th>Tipo de documento</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Ocupacion</th>
            <th>Relación</th>                      
            <th>Teléfono</th>
            <th>Tipo de referencia</th>
            <th>Beneficiario</th>  
            </tr>                      
        </thead>
        <tbody>
            
            {% for referencia in referencias %}
                <tr>
                    <td>{{referencia.documento}}</td>
                    <td>{{referencia.tipoDocumento}}</td>
                    <td>{{referencia.nombres}}</td>
                    <td>{{referencia.apellidos}}</td>
                    <td>{{referencia.ocupacion}}</td>
                    <td>{{referencia.relacion}}</td>
                    <td>{{referencia.telefono}}</td>
                    <td>{{referencia.tipoReferencia}}</td>                                                       
                    <td>{{referencia.beneficiario.documento}}</td>
                </tr>
            {% endfor %}
                
        </tbody>
    </table>
{% endblock contenido %}
    

    