.timepage{
    margin-left: 200px;
    padding: 2px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 25px;
    border-radius: 5px;
    border-color: #f5e5e9;
}

.contenido{
    text-align: center;    
    margin: 80px;
}
