.timepage{
    margin-left: 200px;
    padding: 10px;
    margin-top: 90px;
    margin-bottom: 15px;
    padding-left: 25px;
    border-radius: 5px;
    border-color: #f5e5e9;
}

.contenido{
    text-align: center;
    padding: 50px;
    margin: 15px;
}
