{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}


{% block contenido %}
<h1 class="text-center fs-4" style="color: #008;">Crecimientos</h1>
<a style="margin: 20px;" class="btn btn-outline-success w-22" href="{% url 'crecimiento-crear' %}">Crear Crecimiento</a>
    <table class="table" style="background-color: aliceblue; margin: 15px;">
        <thead>
            <tr  style="color: #008;">
                <th>Estatura</th>
                <th>Peso</th>
                <th>Enfermedad</th>
                <th>Discapacidad</th>
                <th>EPS</th>
                <th>Talla de Camisa</th>
                <th>Talla de Pantalón</th>
                <th>Talla de Calzado</th>
                <th>Beneficiario</th> 
            </tr>                       
        </thead>
        <tbody>
            
            {% for crecimiento in crecimientos %}
                <tr>
                    <td>{{crecimiento.estatura}}</td>
                    <td>{{crecimiento.peso}}</td>
                    <td>{{crecimiento.enfermedad}}</td>
                    <td>{{crecimiento.discapacidad}}</td>
                    <td>{{crecimiento.eps}}</td>
                    <td>{{crecimiento.tallaCamisa}}</td>
                    <td>{{crecimiento.tallaPantalon}}</td>
                    <td>{{crecimiento.tallaCalzado}}</td> 
                    <td>{{crecimiento.beneficiario.documento}}</td>                    
                    
                </tr>
            {% endfor %}
                
        </tbody>
    </table>
{% endblock contenido %}
  