{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}


{% block contenido %}
<h1 class="text-center fs-4" style="color: #008;">Documentación - Beneficarios</h1>
<a style="margin: 20px;" class="btn btn-outline-success w-22" href="{% url 'documentacion-crear' %}">Crear Documentación</a>
    <table class="table" style="background-color: aliceblue; margin: 15px;">
        <thead>
            <tr  style="color: #008;">
                <th>Documento del acudiente</th>
                <th>Registro civil</th>            
                <th>Foto del niño</th>
                <th>Formato de inscripción</th>
                <th>Autorización</th>
                <th>Tarjeta de identidad</th>
                <th>Carnet</th>
                <th>Factura</th>
                <th>Beneficiario</th> 
            </tr>                       
        </thead>
        <tbody>
            
            {% for documentacion in documentacions %}
                <tr>
                    <td>{{documentacion.documentoAcudiente}}</td>
                    <td>{{documentacion.registroCivil}}</td>
                    <td>{{documentacion.foto}}</td>
                    <td>{{documentacion.formato}}</td>
                    <td>{{documentacion.autorizacion}}</td>
                    <td>{{documentacion.tarjetaIdentidad}}</td>
                    <td>{{documentacion.carnet}}</td>
                    <td>{{documentacion.factura}}</td>
                    <td>{{documentacion.beneficiario.documento}}</td>                   

                </tr>
            {% endfor %}
                
        </tbody>
    </table>
{% endblock contenido %}