{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}


{% block contenido %}
<h1>{{titulo}}</h1>
    <table>
        <thead>
            <th>Oficio</th>
            <th>Colegio</th>
            <th>Grado</th>
            <th>Ingresos mensuales del nucleo familiar</th>
            <th>Categoria del sisben</th>
            <th>Estrato</th>
            <th>Vivienda propia</th>
            <th>Servicio de luz</th>
            <th>Servicio de agua</th>
            <th>Servicio de gas</th>
            <th>Servicio de internet</th>
            <th>Beneficiario</th>
            <th>Estado</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            
            {% for socio_economico in socio_economico %}
                <tr>
                    <td>{{socio_economico.oficio}}</td>
                    <td>{{socio_economico.colegio}}</td>
                    <td>{{socio_economico.estatura}}</td>
                    <td>{{socio_economico.grado}}</td>
                    <td>{{socio_economico.ingresos}}</td>
                    <td>{{socio_economico.sisben}}</td>
                    <td>{{socio_economico.estrato}}</td>
                    <td>{{socio_economico.vivienda propia}}</td>
                    <td>{{socio_economico.servicio de luz}}</td>
                    <td>{{socio_economico.servicio de agua}}</td>
                    <td>{{socio_economico.servicio de gas}}</td>
                    <td>{{socio_economico.servicio de internet}}</td>
                    <td>{{socio_economico.beneficiario.documento}}</td>
                    <td>acciones</td>

                   
                    <td>{{crecimiento.beneficiario.documento}}</td>
                    <td>acciones</td>

                </tr>
            {% endfor %}
                
        </tbody>
    </table>
{% endblock contenido %}
    