<!-- Aqui empieza el footer-->
{% load static %}
<div class="container-fluid">
    <div class="row p-lg-5 bg-white">

        <div class="col-lg-3">
            <img src="{% static 'img/logo2.JPG' %}" alt="">
        </div>

        <div class="col-lg-3" style="color: #008;">
            <p>Un Lugar Donde Puedes Crecer</p>
        </div>

        <div class="col-lg-3" style="color: #008;">
            <p>Calle 6 # 88g-11, Barrio Tierra Buena, Bogotá</p>
        </div>

        <div class="col-lg-3" style="color: #008;">
           <p>© Copyright 2022</p>
        </div>

                                                         
    </div>
                          
</div>
<!-- Aqui termina el footer-->