<!-- Aqui empieza el header-->
{% load static %}
<header>
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://fundacionunlugar.com/"><img src="{% static 'img\logo.jpg' %}" alt=""></a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-lg-2 mx-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-info mx-2" aria-current="page" href="{% url 'contenido' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-success mx-2" aria-current="page" href="#">Datos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-primary mx-2" aria-current="page" href="#">Usuarios</a>                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-primary mx-2" aria-current="page" href="{% url 'pagina404' %}">404</a>                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-primary mx-2" aria-current="page" href="{% url 'pagina500' %}">500</a>                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-primary mx-2" aria-current="page" href="{% url 'ayuda' %}">Ayuda</a>                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-primary mx-2" aria-current="page" href="{% url 'politica' %}">Politicas Seguridad</a>                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-primary mx-2" aria-current="page" href="{% url 'reload' %}">Sistema</a>                        
                    </li>

                     <!-- Boton modal -->
                    
                     <li class="nav-item">
                    
                      <button style="margin-right: 30px;" type="button" class="btn btn-outline-success mx-lg-4" data-bs-toggle="modal"   data-bs-target="#exampleModal">
                         Cerrar Sesión
                       </button>

                        <!-- Modal -->
                     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                     <div class="modal-content">
                       <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                    <div class="modal-body">
                    Esta seguro de cerrar sesión?
                     </div>
                     <div class="modal-footer">
                     <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
                     <a href="https://google.com">
                        <button type="button" class="btn btn-outline-success">Si</button>
                     </a>
                     </div>
                     </div>
                     </div>
                     </div>
                     </li>
                    

                </ul>
            </div>
    </nav>
</header>
    

<!-- Aqui termina el header-->