<!-- Aqui empieza el header-->
{% load static %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- CSS Bootstrap Versión 5.2 -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous"
  />
</head>
<header>
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(200, 228, 249);">
        <div class="container-fluid">
            <a class="navbar-brand m-lg-3" href="https://fundacionunlugar.com/"><img src="{% static 'img\logo.jpg' %}" alt=""></a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-lg-2 mx-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-info m-1" aria-current="page" href="{% url 'contenido' %}">Inicio</a>
                    </li>
                    <div class="btn-group mx-1" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle m-1" data-bs-toggle="dropdown" aria-expanded="false">
                          Usuarios
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <li><a class="dropdown-item" href="{% url 'beneficiario-crear' %}">Crear Beneficiarios</a></li>
                          <li><a class="dropdown-item" href="{% url 'beneficiario' %}">Beneficiarios registrados</a></li>
                          <li><a class="dropdown-item" href="{% url 'acudiente-crear' %}">Crear Acudientes</a></li>
                          <li><a class="dropdown-item" href="{% url 'acudiente' %}">Acudientes registrados</a></li>
                          <li><a class="dropdown-item" href="{% url 'padrino-crear' %}">Crear Padrinos</a></li>
                          <li><a class="dropdown-item" href="{% url 'padrino' %}">Padrinos registrados</a></li>
                          <li><a class="dropdown-item" href="{% url 'referencia-crear' %}">Crear Referencias</a></li>
                          <li><a class="dropdown-item" href="{% url 'referencia' %}">Referencias registradas</a></li>                        
                        </ul>
                      </div>                   
                      <div class="btn-group mx-1" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-danger dropdown-toggle m-1" data-bs-toggle="dropdown" aria-expanded="false">
                          Datos
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">                          
                          <li><a class="dropdown-item" href="{% url 'crecimiento-crear' %}">Crear Crecimiento</a></li>
                          <li><a class="dropdown-item" href="{% url 'crecimiento' %}">Crecimientos registrados</a></li>
                          <li><a class="dropdown-item" href="{% url 'socio-economico-crear' %}">Crear Socio-economico</a></li>
                          <li><a class="dropdown-item" href="{% url 'socio-economico' %}">Socio-economicos registrados</a></li>
                          <li><a class="dropdown-item" href="{% url 'documentacion-crear' %}">Crear documentación</a></li>
                          <li><a class="dropdown-item" href="{% url 'documentacion' %}">Documentación registrada</a></li>
         
                        </ul>
                      </div>                                                          
                                          
                    <li class="nav-item">
                      <div title="Error 404">
                        <a class="mx-2" href="{% url 'pagina404' %}"><img src="{% static 'img/cuatro.JPG' %}" style="width: 50px;" alt=""></a>
                      </div>                    
                    </li>                          
                    
                    <li class="nav-item">
                      <div title="Error 500">
                       <a class="mx-2" href="{% url 'pagina500' %}"><img src="{% static 'img/cinco.JPG' %}" style="width: 46px;" alt=""></a>                        
                      </div>
                    </li>
                    <li class="nav-item">
                      <div title="Manual de usuario">
                       <a class="mx-2" href="{% url 'ayuda' %}"><img src="{% static 'img/ayuda.JPG' %}" style="width: 38px;" alt=""></a>                                               
                      </div>
                    </li> 
                    
                    <li class="nav-item">
                      <div title="Política de seguridad">
                        <a class="mx-2" href="{% url 'politica' %}"><img src="{% static 'img/pseguridad.JPG' %}" style="width: 46px;" alt=""></a>                        
                      </div>
                    </li>
                    <li class="nav-item">
                      <div title="Sistema">
                       <a class="mx-2" href="{% url 'reload' %}"><img src="{% static 'img/sistema.JPG' %}" style="width: 46px;" alt=""></a>                        
                      </div>
                    </li>

                     <!-- Boton modal -->
                    
                     <li class="nav-item">
                    
                      <button style="margin-right: 30px;" type="button" class="btn btn-outline-success m-1" data-bs-toggle="modal"   data-bs-target="#exampleModal">
                         Cerrar Sesión
                       </button>

                        <!-- Modal -->
                     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                     <div class="modal-content">
                       <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                    <div class="modal-body">
                    Esta seguro de cerrar sesión?
                     </div>
                     <div class="modal-footer">
                     <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
                     <a href="https://google.com">
                        <button type="button" class="btn btn-outline-success">Si</button>
                     </a>
                     </div>
                     </div>
                     </div>
                     </div>
                     </li>             

                </ul>
            </div>                       
    </nav>
    <p style="color: rgb(175, 206, 246)" class="mx-lg-5 mx-auto fst-italic fs-6">Iconos tomados de stock.adobe.com - libre derecho de autor</p>    
</header>

       <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
          crossorigin="anonymous"
        ></script>
    

<!-- Aqui termina el header-->